body{
    padding: 0;
    margin: 0;
}

.header{
    background: black;
}

.logo{
    width: 12%;
    border: 1px solid black;
    border-radius: 55%;
    margin: 1% auto;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: space-evenly;
}

.search{
    width: 23%;
    margin: auto 2%;
    height: 20%;
}

.user-image{
margin: auto 0;
}

.user{
    float: right;
    margin: auto 2%;
    width: 7%;
}
